@import '../../components/variaveis/index';

.page-produtos {
    width: 100vw;
    height: auto;
    background-color: #dee5e5;

    .header-produtos {
        height: 50vh;
        background-image: url(../../../public/assets/images/produtos/produto-background.jpg);
        
        .figure-produtos-imgs {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-around;
            align-items: flex-end;

            .img-produtos {
                width: auto;
                height: 70%;
            }

            .article-produtos-titulo {
                width: auto;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;

                .h1-produtos{
                    color: white;
                    font: $irishGrover-96;
                    
                }

                .h4-produtos {
                    color: white;
                    font: $irishGrover-34;
                }
            }
        }
    }

    .main-produtos {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        
        .section-produtos {
            width: 80%;
            height: 100%;
            padding: 20px;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            background-color: white;
        }
    }
}