@import '../../variaveis/index';

.header {

    .header-section1 {
        width: 100%;
        height: 100px;

        .figure-section1-responsivo {
            display: none;
        }

        .nav-section1 {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            .p-section1 {
                min-width: 110px;
                display: flex;
                justify-content: center;
                font: $irishGrover-25;

            }

            .p-section1-amarelo {
                color: #FBFFD0;
                text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
            }

            .p-section1-azul {
                color: #2E4055;
                text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;

            }

            .figure-section1 {
                min-width: 100px;
                height: 100%;
                overflow-y: hidden;
            }

            .img-section1-logo {
                width: 100%;
                height: 100%;
            }
        }
    }
}

@media (max-width: 600px) {

    .header {


        .header-section1 {
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;


            .figure-section1-responsivo {
                display: flex;
                width: 100px;
                height: 100px;
            }

            .nav-section1 {
                flex-wrap: wrap;

                .p-section1 {}

                .p-section1-amarelo {}

                .p-section1-azul {}

                .figure-section1 {
                    display: none;

                }

                .img-section1-logo {}
            }
        }
    }
}